{% load draw_menu %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% if request.GET.menu %}
        {% draw_menu request.GET.menu %}
    {% else %}
        {% get_main_menu as menu %}
        <ul>
            {% for main_menu in menu %}
                <li style="margin-bottom: 30px"><a href="?menu={{ main_menu.name }}">{{ main_menu.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

</body>
</html>